@model BugChang.DES.Application.Users.Dtos.UserEditDto
@using BugChang.DES.Web.Mvc.Models.Common
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("分配角色"))
<div class="modal-body">
    <div class="form-group">
        <input id="userId" type="hidden" value="@ViewBag.UserId" />
        <div class="col-xs-10">
            <select id="roleId" class="form-control" style="width: 100%"></select>
        </div>
        <div class="col-xs-2">
            <button id="btnAddUserRole" type="button" class="btn btn-primary">添加</button>
        </div>
    </div>
    <hr />
    <div class="table-responsive">
        <table id="userRoleTable" class="table table-bordered table-hover text-nowrap"></table>
    </div>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithClose.cshtml")
<script src="~/views-resource/user/_editUserRoleModal.js" asp-append-version="true"></script>