@using BugChang.DES.Web.Mvc.Models.Common
<div class="modal fade" id="UserCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml",new ModalHeaderViewModel("新增用户"))
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            @Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
        </div>
    </div>
</div>