@model IList<BugChang.DES.Application.Users.Dtos.UserDto>
@{
    ViewBag.MenuName = "系统管理-用户管理";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DepartmentCreateModal" data-backdrop="static" data-keyboard="false"><i class="fa  fa-plus-circle"></i> 新增</button>
            <button id="btnRefresh" type="button" class="btn btn-primary"><i class="fa  fa-refresh"></i> 刷新</button>
        </div>
    </div>
    <div class="box-body">
        <table id="table" class="table table-bordered table-hover"></table>
    </div>
</div>
@Html.Partial("_UserCreateModel")