@using BugChang.DES.Web.Mvc.Models.Common
<div class="box box-primary">
    <div class="box-header with-border">
        <div class="btn-group">
            <button id="btnAddUser" type="button" class="btn btn-primary" data-toggle="modal" data-target="#UserCreateModal" data-backdrop="static" data-keyboard="false"><i class="fa  fa-plus-circle"></i> 新增</button>
            <button id="btnRefresh" type="button" class="btn btn-primary"><i class="fa  fa-refresh"></i> 刷新</button>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table id="table" class="table table-bordered table-hover text-nowrap"></table>
        </div>
    </div>
</div>
<div class="modal fade" id="UserCreateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="UserCreateForm" method="post" asp-controller="User" asp-action="Edit">
                @Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("新增用户"))
                <div class="modal-body">
                    <div class="form-group">
                        <label>所属机构</label>
                        <select class="form-control select2" name="DepartmentId" style="width: 100%"></select>
                    </div>
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" class="form-control" name="UserName">
                    </div>
                    <div class="form-group">
                        <label>姓名</label>
                        <input type="text" class="form-control" name="DisplayName">
                    </div>
                    <div class="form-group">
                        <label>移动电话</label>
                        <input type="text" class="form-control" name="Phone">
                    </div>
                    <div class="form-group">
                        <label>固定电话</label>
                        <input type="text" class="form-control" name="Tel">
                    </div>
                    <div class="form-group">
                        <label>启用状态</label>
                        <select class="form-control" name="Enabled">
                            <option value="1">启用</option>
                            <option value="0">停用</option>
                        </select>
                    </div>
                    @Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="UserEditModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<div class="modal fade" id="UserRoleEditModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/views-resource/user/index.js" asp-append-version="true"></script>
}