<div id="zs-header" style="display: none">
    <table style="width: 100%">
        <tr>
            <td style="width: 100%; font-size: 26pt;text-align: center;line-height: 24px" colspan="2">
                直送清单
            </td>
        </tr>
        <tr>
            <td style="width: 100%;line-height: 24px" colspan="2">
                发件单位：北京市国家安全局
            </td>
        </tr>
        <tr>
            <td style="width: 50%;line-height: 24px">打印时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm")</td>
            <td style="width: 50%;text-align: right;line-height: 24px">第<span id="zs-listNo"></span>号  第<span tdata="PageNO" format="0" color="blue">##</span>页</td>
        </tr>
    </table>
</div>
<div id="zs-body" style="display: none">
    <table style="width: 100%" id="zs-table">
        <thead>
            <tr>
                <th>序号</th>
                <th>收件单位名称</th>
                <th>发件部门名称</th>
                <th>信件编号</th>
                <th>秘密等级</th>
                <th>缓急程度</th>
                <th>原始编号</th>
                <th>签收</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td colspan="4"> 本页合计<span tdata="SubCount" format="0" color="blue">##</span>件</td>
                <td colspan="4" style="text-align: right">
                    本号单共计<span tdata="PageCount" format="0" color="blue">##</span>页
                    <font tdata="AllCount" format="0">###</font> 件
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div id="zs-footer" style="display: none">
    <table style="width: 100%">
        <tr>
            <td style="width: 50%;line-height: 24px">送件人</td>
            <td style="width: 50%;text-align: right;line-height: 24px">接收人</td>
        </tr>
    </table>
</div>