<table class="table table-bordered">
    <tr>
        <th>收（包含外收）</th>
        <th>发（包含外发）</th>
        <th>外收</th>
        <th>外发</th>
        <th>普通</th>
        <th>秘密</th>
        <th>机密</th>
        <th>绝密</th>
        <th>普通</th>
        <th>加急</th>
        <th>特急</th>
        <th>限时</th>
    </tr>
    <tr>
        <td>55</td>
        <td>55</td>
        <td>55</td>
        <td>55</td>
        <td>55</td>
        <td>55</td>
        <td>55</td>
        <td>55</td>
        <td>55</td>
        <td>55</td>
        <td>55</td>
        <td>55</td>
    </tr>
</table>