<div class="box box-primary">
    <div class="box-body">
        <div class="table-responsive">
            <table id="table" class="table table-bordered table-hover text-nowrap"></table>
        </div>
    </div>
</div>

<div class="modal fade" id="DetailViewModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/LodopFuncs.js"></script>
    <script src="~/views-resource/letter/sortingList.js" asp-append-version="true"></script>
}