<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">基础信息导入</h3>
    </div>
    <div class="box-body">
        <form enctype="multipart/form-data" method="post" asp-action="Import">
            <div class="input-group">
                <input type="file" name="excelfile" class="form-control" placeholder="请选择Excel文件...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">导入</button>
                </span>
            </div>
        </form>
    </div>
</div>