<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">查询条件</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive">
          <h2>Comming Sonn!</h2>
        </div>
    </div>
</div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">日志列表</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table id="table" class="table table-bordered table-hover text-nowrap"></table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/views-resource/log/audit.js" asp-append-version="true"></script>
}