@model BugChang.DES.Web.Mvc.Models.Account.ChangePasswordViewModel
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">修改密码</h3>
    </div>
    <div class="box-body">
        <form id="ChangePasswordForm" method="post" asp-controller="Account" asp-action="ChangePassword">
            <input type="hidden" value="@Model.Id" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName">用户名</label>
                <input type="text" class="form-control" asp-for="UserName" value="@Model.UserName" readonly="readonly">
            </div>
            <div class="form-group">
                <label asp-for="OldPassword">原密码</label>
                <input type="password" class="form-control" asp-for="OldPassword" placeholder="请输入原密码">
            </div>
            <div class="form-group">
                <label asp-for="Password">新密码</label>
                <input type="password" class="form-control" asp-for="Password" placeholder="请输入新密码">
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">确认新密码</label>
                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="请确认新密码">
            </div>
            <button type="submit" class="btn btn-success">确认修改</button>
        </form>
    </div>
</div>

@section scripts
    {
    <script src="~/views-resource/account/changePassword.js" asp-append-version="true"></script>
}