<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">重新登录</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <span class="text-warning">您好，您当前的用户和Ukey不匹配。为了保证数据安全，请重新登录后继续使用本系统。</span>
            <a asp-controller="Account" asp-action="Login">点此重新登录！</a>
        </div>
    </div>
</div>