@using System.Collections.Generic
@using System.Linq
<section class="content-header">
    <h1>
        @((Model as List<string>).LastOrDefault())
        <small>菜单功能描述</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"> 首页</a></li>
        @for (int i = 0; i < (Model as List<string>).Count; i++)
        {
            <li> @((Model as List<string>)[i])</li>
        }
    </ol>
</section>