@using BugChang.DES.Web.Mvc.Views.Shared.Components.BreadCrumb
@using BugChang.DES.Web.Mvc.Views.Shared.Components.SideBarNav
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BugChang.DES </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/zTree/css/metroStyle/metroStyle.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    @await RenderSectionAsync("css", false)
    <link href="~/lib/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/lib/pace/pace.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- jquery-loading -->
    <link href="~/lib/jquery-loading/jquery.loading.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- ADD THE CLASS fixed TO GET A FIXED HEADER AND SIDEBAR LAYOUT -->
<!-- the fixed layout is not compatible with sidebar-mini -->
<body class="hold-transition skin-blue fixed sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a asp-controller="Home" asp-action="Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>DES</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>BugChang.DES</b>v1.0</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">导航切换</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a asp-controller="Account" asp-action="Logout" title="登出"><i class="fa fa-sign-out"></i>注销</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- 左侧菜单 Begin-->
        @await Component.InvokeAsync(typeof(SideBarNavViewComponent), new { url = ViewBag.Url })
        <!-- 左侧菜单 End-->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @await Component.InvokeAsync(typeof(BreadCrumbViewComponent), new { url = ViewBag.Url })
            <!-- Main content -->
            <section class="content">
                <section class="content">
                    @await RenderSectionAsync("tips", false)
                    <!-- Default box -->
                    @RenderBody()
                    <!-- /.box -->
                </section>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2018 <a href="#">BugChang</a>.</strong> All rights
            reserved.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/pace/pace.min.js"></script>
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/fastclick/fastclick.js"></script>
    <script src="~/lib/admin-lte/js/adminlte.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/jquery-loading/jquery.loading.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/select2/js/i18n/zh-CN.js"></script>
    <script src="~/lib/zTree/js/jquery.ztree.all.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", false)
</body>
</html>
