@using BugChang.DES.Web.Mvc.Models.Common
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("菜单分配"))
<form id="RoleMenuEditForm" method="post">
    <div class="modal-body">
        <ul id="roleMenuTree" data-role-id="@ViewBag.RoleId" class="ztree"></ul>
    </div>
    @Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>
<script src="~/views-resource/role/_editRoleMenuModal.js" asp-append-version="true"></script>