<div class="box box-primary">
    <div class="box-header with-border">
        <div class="btn-group">
            <button id="btnAddClient" type="button" class="btn btn-primary"><i class="fa  fa-plus-circle"></i> 立即备份</button>
            <button id="btnRefresh" type="button" class="btn btn-primary"><i class="fa  fa-refresh"></i> 刷新</button>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table id="table" class="table table-bordered table-hover text-nowrap"></table>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/views-resource/backup/index.js" asp-append-version="true"></script>
}